---
import Layout from '@/layouts/Layout.astro';
import Experience from '@/components/Experience.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import BriefCaseIcon from '@/icons/BriefCaseIcon.astro';
import CodeIcon from '@/icons/Code.astro';
import Projects from '@/components/Projects.astro';
import UserIcon from '@/icons/User.astro';
import CoffeeIcon from '@/icons/Coffee.astro';
import AboutMe from '@/components/AboutMe.astro';
import Contact from '@/components/Contact.astro';
import Hero from '@/components/Hero.astro';



---

<Layout
  title="Porfolio de Emmanuel Valdez - Desarrollador y Programador Backend"
  description="Contrata a Emmanuel Valdez para desarrollar tu app"
>
  <main class="px-4">
    <SectionContainer class="py-20 pb-32">
      <Hero/>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <UserIcon class="size-7" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contact" >
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CoffeeIcon class="size-7" />
        Hablemos
      </h2>
      
      <Contact/>
      
    </SectionContainer>
  </main>
</Layout>
