<section class="flex flex-col md:flex-row gap-8 justify-center items-center ">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 
    [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Soy Emmanuel Valdez! Me especializo en el <strong
        >desarrollo de software backend</strong
      >, también soy técnico en producción industrial y automatización. Mi
      primer acercamiento a la programación fue con un plc Schneider, lo que
      despertó mi <strong
        >interés por resolver problemas mediante código.
      </strong>
    </p>
    <p>
      Al aprender programación orientada a objetos utilizando JAVA y MySQL, pude
      comprender rápidamente C#, Node.JS y REACT, para luego sumergirme en el
      entorno de .NET, enfocado hacia el desarrollo web.
    </p>
    <p>
      Además, he sido maestro particular y ayudante de cátedra en matemáticas,
      física e inglés, lo que me ha permitido <strong>
        comunicar conceptos teóricos y prácticos con claridad
      </strong> a alumnos y compañeros. Esto ha contribuido al
      <strong>éxito en los proyectos grupales</strong> en los que he participado,
      al fomentar la participación activa de cada integrante.
    </p>
    <p>
      En la actualidad, busco <strong
        >integrar mis conocimientos en procesos industriales automatizados</strong
      >, creando aplicaciones funcionales para la industria y comprendiendo las
      necesidades de la cadena de producción al diseñar soluciones eficientes.
    </p>
  </div>
  <img src="/me.jpg" class="rounded-full size-64 gap-10 order-1 md:order-2 " alt="Emmanuel Valdez Foto">
</section>
