---
import Badge from '@/components/Badge.astro';
---



<img
  class="size-16 p-1 rounded-full mb-4 ring-2 ring-gray-300 dark:ring-indigo-700"
  src="/2024.webp"
  alt="EValdezFoto"
/>
<a
      href="https://www.linkedin.com/in/evaldez-dev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition justify-center hover:scale-105"
    >
    <Badge>Disponible para trabajar</Badge>
  </a>
