---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: '2020 - Actualmente...',
    title: ' Emprendimiento Personal - Página en Tienda Nube',
    company: 'Ukiyo Mochilas y algo mas',
    description:
      'Gestión de E-commerce, desarrollo y diseño web, manejo de inventario, marketing digital, analisis de datos, atencion al cliente, logística, ',
    link: 'https://ukiyomendoza.mitiendanube.com/',
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
