---
import LinkedInIcon from '@/icons/LinkedInIcon.astro';
import GitHubIcon from '@/icons/GitHubIcon.astro';
import MailIcon from '@/icons/MailIcon.astro';
import SocialPill from '@/components/SocialPill.astro';
import Avatar from '@/components/Avatar.astro';
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Avatar />
  </div>
  <h1
    class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
  >
    ¡Hola! Soy Emmanuel Valdez
    <a
      href="https://www.linkedin.com/in/evalmondev/"
      class="flex justify-center items-center hover:scale-105 transition"
    >
    </a>
  </h1>
  <h2 class="text-xl lg:text-2xl text-wrap max-w-[500px]">
    <span>+3 años de programación Backend</span>
    <span class="text-blue-200/90"
      > desarrollando soluciones eficientes para tus ideas.</span
    >
    <span class="text-red-200/90"> De Mendoza, Argentina.</span><span
      class="opacity-85"
    >
      Especializado en crear aplicaciones a medida.</span
    >
  </h2>
  <nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill href="https://www.linkedin.com/in/evalmondev/">
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Emmanuel-Valdez">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:evalmon.dev@gmail.com">
      <MailIcon class="size-4 md:size-6" />
      evalmon.dev@gmail.com
    </SocialPill>
  </nav>
</div>
