---
const { href } = Astro.props;

---

<a
  href={href}
  class="gap-x-1 inline-flex items-center px-4 py-2 text-sm font-medium  bg-white border  rounded-lg transition   focus:z-10 focus:ring-4 focus:outline-none 
  focus:text-blue-700 
  
  
  bg-gray-900 
  text-gray-400 
  border-gray-600 
  hover:text-white 
  hover:bg-gray-700 
  focus:ring-gray-700"
  target="_blank"
  rel="noopener noreferrer"

  >
  <slot />
</a>
